* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} /* yeah resetting the values*/

.container { /* main container or display css*/
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative; /* cause the child element will be absolute*/
    margin: auto; /*i know how to center the div i am a fucking genius, what do you mean its not centered vertically*/
}

#snake { /*yeah i dont use selectors in organized way*/ 
    width: 10px; /*most of the element and movement will be of 10px*/
    height: 10px;
    background-color: red;
    border-radius: 50%; /*yeah i thought it will look good*/ 
    position: absolute; /*obvious it will move cause its position is absolute*/
    z-index: 1;  /*when snake ate the tail the tail has greater z index so added it up*/
}

.snakeTail {
    width: 10px;
    height: 10px;
    background-color: green; /*this is the only difference between #snake and .snakeTail*/
    position: absolute;
    border-radius: 50%;
}

.fruit {
    width: 8px;/*rest 2px will be added with border, balanced as all things should be*/
    height: 8px;
    animation-name: fruitAnimation; /*it looks good*/
    animation-duration: .3s;
    animation-iteration-count: infinite;
    position: absolute;
    border-radius: 50%;
}

@keyframes fruitAnimation {/* creativity stocks down*/
    from {
        background-color: turquoise; 
        border: 2px solid red;
    }
    to {
        background-color: red;
        border: 2px solid turquoise;
    }
}


.inputBox { /*who said i cant center div easily see...*/
    width: 75%;
    margin: 50px auto;
    display: flex; /*im lucky i have you */
    flex-direction: column;
    align-items: center;
}

.inputKey { /*haye me to tak gayi, i dont think these need any comment*/
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px;
}

#msg { /*yeah msg are very usefull so i colored them red*/
    color: red;
    font-size: 1.2rem;
    text-align: center;
}

